{% set grid_size = theme_var('grid-size') %}
{% set pages = page.collection('pages') %}
{% set taxonomies = page.collection('taxonomies') %}
{% if taxonomies is empty %}
    {% set collection = pages %}
{% else %}
    {% set collection = pages.intersect(taxonomies) %}
{% endif %}

{% block body %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {% do assets.add('theme://js/bricklayer.min.js') %}

    {% set grid_id = unique_id() %}

    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">
        {% embed 'partials/layout.html.twig' %}
            {% block item %}
                <div id="{{ grid_id }}" class="bricklayer">
                {% for page in collection %}
                    {% include 'partials/page-summary.html.twig' with {'page': page} %}
                {% endfor %}
                </div>
            {% endblock %}
        {% endembed %}
        </section>
    </section>

    {% script at 'bottom' %}
        $(document).ready ( function() {
            var $grid = $('#{{ grid_id }}');
            if ($grid.length == 1) {
                var bricklayer = new Bricklayer($grid[0]);
            }
        });
    {% endscript %}
{% endblock %}
