{% set grid_size = theme_var('grid-size') %}

{# create a page collection from headers which are unfortunately not proper page collections, see https://github.com/getgrav/grav-plugin-admin/issues/2280 #}
{% set pages_parameters = {} %}
{% if page.header.modules %}
    {% set modules = page.header.modules %}
    {% if modules.members %}
        {% set items_filter = {} %}
        {% if modules.members.children %}
            {% set items_filter = items_filter|merge({'@page.children': modules.members.children}) %}
        {% endif %}
        {% if modules.members.descendants %}
            {% set items_filter = items_filter|merge({'@page.descendants': modules.members.descendants}) %}
        {% endif %}
        {% if modules.members.modules %}
            {% set items_filter = items_filter|merge({'@page.modular': modules.members.modules}) %}
        {% endif %}

        {# _maybe_ use page.intersect() for the taxonomy selections (rather than page.merge()) #}
        {% set pages_parameters = pages_parameters|merge({'items': items_filter}) %}

        {# we set collection options here because there's no point unless there are items specified #}
        {% if modules.order %}
            {% set pages_parameters = pages_parameters|merge({'order': modules.order}) %}
        {% endif %}
        {% if modules.limit %}
            {% set pages_parameters = pages_parameters|merge({'limit': modules.limit}) %}
        {% endif %}

    {% endif %}
{% endif %}

{% block body %}
    {% if pages_parameters is not empty %}
        {% set collection = page.collection(pages_parameters) %}
        {% do assets.addCss('theme://css/bricklayer.css') %}
        {% do assets.add('theme://js/bricklayer.min.js') %}

        {% set grid_id = unique_id() %}

        <section id="body-wrapper" class="section blog-listing">
            <section class="container {{ grid_size }}">

            {% embed 'partials/layout.html.twig' %}
                {% block item %}
                    <div id="{{ grid_id }}" class="bricklayer">
                    {% for page in collection %}
                        {% include 'partials/page-summary.html.twig' with {'page': page} %}
                    {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}
            </section>
        </section>

        {% script at 'bottom' %}
            $(document).ready ( function() {
                var $grid = $('#{{ grid_id }}');
                if ($grid.length == 1) {
                    var bricklayer = new Bricklayer($grid[0]);
                }
            });
        {% endscript %}
    {% endif %}
{% endblock %}
