{% set logo = mobile ? theme_var('custom_logo_mobile')|default(theme_var('custom_logo')) : theme_var('custom_logo') %}
<a href="{{ home_url }}" class="navbar-brand mr-10">
{% if logo %}
  {% set logo_file = (logo|keys|first) %}
  <img src="{{ logo_file  }}" alt="{{ site.title }}" />
{% else %}
  {{ include('@images/grav-logo.svg') }}
{% endif %}
</a>
